<nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
  <div class="container-fluid">
    <%= link_to "BookStorm", products_path,class: "navbar-brank" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="navbar-collapse collapse show" id="navbarColor03" style="">
      <ul class="navbar-nav me-auto">

        <%# about %>
      <li class="nav-item">
          <%= link_to "About", about_path, class: "nav-link #{'active' if controller_name == 'home' && action_name == 'about'}" %>
        </li>

        <%# contact %>
        <li class="nav-item">
          <%= link_to "Contact", contact_path, class: "nav-link #{'active' if controller_name == 'home' && action_name == 'contact'}" %>
        </li>

        <%# categories %>
        <li class="nav-item">
          <%= link_to "Categories", categories_path, class: "nav-link #{'active' if controller_name == 'categories' && action_name == 'index'}" %>
        </li>
        
    
          <%# search partial %>
           <%= render partial: "shared/search_bar"%>

        <% if user_signed_in? %>
        <%# Cart %>
        <li class="nav-item">
          <%= link_to "Cart", cart_path, class: "nav-link #{'active' if controller_name == 'carts' && action_name == 'show'}" %>
        </li>
        <%# Order %>
        <li class="nav-item">
          <%= link_to "Order", new_order_path, class: "nav-link #{'active' if controller_name == 'orders' && action_name == 'index'}" %>
        </li>
        <%# Orders %>
        <li class="nav-item">
          <%= link_to "Orders", orders_path, class: "nav-link #{'active' if controller_name == 'orders' && action_name == 'index'}" %>
        </li>

        <%# add address %>
        <li class="nav-item">
          <%= link_to "Address", new_address_path, class: "nav-link #{'active' if controller_name == 'addresses' && action_name == 'new'}" %>
        </li>

        <%# Profile %>
        <li class="nav-item">
          <%= link_to "Profile", edit_user_registration_path, class: "nav-link #{'active' if controller_name == 'registrations' && action_name == 'edit'}" %>
        </li>

         <%# Log Out %>
        <li class="nav-item">
          <%= link_to "Log Out", destroy_user_session_path, 
          data:{ turbo_method: :delete }, 
          class: "nav-link #{'active' if controller_name == 'admin' && action_name == 'logout' }" %>
        </li>

        <% else %>
        <%# Sign up %>
          <li class="nav-item">

          <%= link_to "Sign Up", new_user_registration_path, class: "nav-link #{'active' if controller_name == 'admin' && action_name == 'signup'}" %>
        </li>
        
       <%# log In %>
      <li class="nav-item">
          <%= link_to "Login",  new_user_session_path, class: "nav-link #{'active' if controller_name == 'admin' && action_name == 'login'}" %>
        </li>

        <% end %>
      </ul>

      

    </div>
  </div>
</nav>
<br>
