<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #3561BA;" data-bs-theme="light">
  
  
  <div class="container-fluid">

    <div class="navbar-brand d-flex align-items-center">
      <%= link_to root_path do %>
        <img src="<%= asset_path('bookstore.png') %>" alt="logo" class="img-logo me-2">
        <span class="navbar-brand custom-link">BookStorm</span>
      <% end %>
    </div>

    <!-- 引入Bootstrap 5和Font Awesome的CSS文件 -->

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
      <%# books %>
        <li class="nav-item">
          <%= link_to "Books", products_path, class: "nav-link #{'active' if controller_name == 'products' && action_name == 'index'}" %>
        </li>

        <%# top 20 categories %>
        <li class="nav-item">
          <%= link_to "Categories", categories_path, class: "nav-link #{'active' if controller_name == 'categories' && action_name == 'index'}" %>
        </li>

      <%# about %>
        <li class="nav-item">
          <%= link_to "About", about_path, class: "nav-link #{'active' if controller_name == 'about' && action_name == 'index'}" %>
        </li>
        

          <%# search partial %>
         <%= render partial: "shared/search_bar"%>

        <% if user_signed_in? %>


          <%# Cart %>
         <li class="nav-item">
          <%= link_to cart_path, class: "nav-link #{'active' if controller_name == 'carts' && action_name == 'show'}" do %>
            <i class="fas fa-shopping-cart"></i> 
          <% end %>
        </li>

    
        <%# User  %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Hello, <%= current_user.email %>
          </a>

      
       
          <ul class="dropdown-menu">

            <li><%= link_to "Profile", edit_user_registration_path, class: "dropdown-item" %></li>
            <li><%= link_to "Address", new_address_path, class: "dropdown-item" %></li>
            <li><%= link_to "Order", new_order_path, class: "dropdown-item" %></li>
            <li><%= link_to "Order History", orders_path, class: "dropdown-item" %></li>
            <li><%= link_to "Sign Out", destroy_user_session_path, data:{ turbo_method: :delete }, class: "dropdown-item" %></li>
          </ul>
        </li>
        

        <% else %>
        <%# Sign up %>
          <li class="nav-item">

          <%= link_to "Sign Up", new_user_registration_path, class: "nav-link #{'active' if controller_name == 'admin' && action_name == 'signup'}" %>
        </li>
        
       <%# log In %>
      <li class="nav-item">
          <%= link_to "Login",  new_user_session_path, class: "nav-link #{'active' if controller_name == 'admin' && action_name == 'login'}" %>
        </li>

        <% end %>
      </ul>

      

    </div>
  </div>
</nav>
