<div class="container custom-container">
  <h2 class="mb-4">Checkout</h2>

  <div class="row">
    <!-- Shipping Addresses -->
    <div class="col-md-5">
    <%= render "address_form" %>
    </div>
    <!-- Items and Shipping -->
    <div class="col-md-7">
     <%= render "cart_form" %>
    </div>
  </div>

  <!-- Tax Summary -->
  <% if @tax_rates %>
        <%= render "tax_form" %>
  <% end %>

  <!-- Place Order Button -->
  <%= form_with(model: @order, url: orders_path, method: :post) do |form| %>
    <%= form.fields_for :order do |order_form| %>
      <%= order_form.hidden_field :user_id, value: current_user.id %>
      <%= order_form.hidden_field :total_amount, value: @order_total %>
      <%= order_form.hidden_field :status, value: "new" %>
      <%= order_form.hidden_field :address_id, value: @user_address.id %>
           
      <div class="d-flex justify-content-end mt-4">
        <%= order_form.submit "Place Order", class: "btn btn-lg btn-primary" %>
      </div>
    <% end %>
  <% end %>
</div>
