<!-- app/views/shared/_product_card.html.erb -->
<div class="col">
  <div class="card h-100">
    <div class="card-body">
      <%= link_to product_path(product) do %>
         <% if product.image.attached? %>
          <%= image_tag url_for(product.image.variant(:medium)), class: "img-fluid mb-4", alt: "Book Cover" %>
         <% else %>
          <%= image_tag(product.thumbnail, class: "img-fluid thumbnail-img", alt: "Book Cover Thumbnail") %>
         <% end %>
      <% end %>
      <h4 class="card-title"><%= link_to product.title, product_path(product), class:"custom-link"%></h4>
      <p class="card-text">Author: <%= product.authors %>

        <% if product.discount > 0 && product.on_sale %>
          <p class="card-text"> Price: <span class="original-price"><%= number_to_currency(product.price) %></span>
          <span class="sale-price"> <%= number_to_currency(product.price - (product.price * product.discount)) %> </span>
          <span class="discount-tag">-<%= product.discount * 100 %>%</span>
        <% else %>
           <p class="card-text"> Price: <span><%= number_to_currency(product.price) %></span>
        <% end %>
      </p>
      <p class="card-text">Stock: <%= product.stock %></p>

     <p class="card-text">Average Rating: <%= product.average_rating %></p>
    </div>
  </div>
</div>

