<!-- app/views/products/show.html.erb -->

<div class="container mt-4">
  <div class="row">
    <div class="col-md-4">
      <% if @product.image.attached? %>
      <%= image_tag(@product.image.variant(:medium).processed.url, class: "img-fluid mb-4", alt: "Book Cover") %>
      <% else %>
      <%= image_tag(@product.thumbnail, class: "img-fluid mb-4", alt: "Book Cover") %>
      <% end %>
    </div>
    <div class="col-md-8">
      <h2><%= @product.title %></h2>
      <p class="mb-4">Author: <%= @product.authors %></p>
    <p class="mb-4">
      Price: <span class="original-price"><%= number_to_currency(@product.price) %></span>
      Sale: <span class="sale-price"> <%= number_to_currency(@product.price - (@product.price * @product.discount)) %> </span>
      <span class="discount-tag">-<%= @product.discount * 100 %>%</span>

    </p>
      <p class="mb-4">Average Rating: <%= @product.average_rating %></p>
      <p class="mb-4">ISBN: <%= @product.isbn %></p>
      <p class="mb-4">ISBN13: <%= @product.isbn13 %></p>
      <p class="mb-4">Published Year: <%= @product.published_year %></p>
      <p class="mb-4">Number of Pages: <%= @product.num_pages %></p>
      <p class="mb-4">Ratings Count: <%= @product.ratings_count %></p>
      <p class="mb-4">Stock: <%= @product.stock %></p>
      <p class="mb-4">Description:</p>
      <p><%= @product.description %></p>


      <%= link_to "Back", products_path, class:"button" %>
      <%= link_to 'Add to cart', add_cart_path(product_id:@product), class:"button is-warining add-to-cart" %>


  </div>
  </div>
</div>
